#create-spot-button {
  text-decoration: none;
  color: #F0F1F2;
  transition: 0.1s;
  cursor: pointer;
  white-space: nowrap;
}

#create-spot-button:hover {
  color: #D9DBDD;
}

#create-spot-button:active {
  color: #C4C6C8;
}
