.spot-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin-top: -20px;
}

.spot-details h1 {
  font-size: 1.9rem;
  margin-bottom: 5px;
}

.spot-details p {
  font-size: 0.9rem;
  color: whitesmoke;
  margin-bottom: 20px;
}

.spot-images {
  display: flex;
  gap: 10px;
  width: 100%;
}

.large-image {
  flex: 3;
  max-width: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
}

.large-image:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.small-images {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  gap: 10px;
}

.small-images img {
  width: calc(50% - 10px);
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.1s;
}

.small-images img:hover {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.spot-info {
  flex: 5;
}

.spot-info p {
  margin-bottom: 10px;
  line-height: 2;
}

.callout-box {
  flex: 2;
  padding: 20px;
  margin-top: 5px;
  border-radius: 8px;
  background-color: #01000E;
  text-align: center;
}

.rating-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.rating-details {
  display: flex;
  align-items: center;
  gap: 5px;
  color: whitesmoke;
  font-size: 1rem;
}

.price-details {
  font-size: 1.2rem;
  color: whitesmoke;
  text-align: right;
}

.bold-price {
  font-weight: bolder;
}

.regular-text {
  font-weight: lighter;
  color: antiquewhite;
  font-size: 17px;
}

.star {
  color: tomato;
}

#reserve-button {
  background-color: antiquewhite;
  color: #01000E;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  transition: 0.1s;
  margin-top: 15px;
  display: block;
  width: 100%;
}

#reserve-button:hover {
  cursor: pointer;
  background-color: #d8c9a3;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#reserve-button:active {
  background-color: #c6b69e;
  transform: translateY(2px);
}

.bold-name {
  font-weight: bolder;
  font-size: 16px;
  color: antiquewhite;
}

.separator {
  margin-right: 10px;
  margin-left: 10px;
}
