#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1), 0 4px 20px rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  color: rgb(225, 225, 225);
  background-color: rgb(1, 0, 14);
  margin: -100px auto;
}

.error-container {
  color: red;
  font-size: 0.8em;
  max-height: 15px;
  margin: -5px 0 10px;
  text-align: left;
}

#signup-title {
  color: rgb(225, 225, 225);
  font-size: 25px;
  margin-top: 10px;
}

.label {
  display: block;
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 2px;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
}

.input::placeholder {
  font-style: italic;
  color: gray;
}

.input:focus {
  outline: none;
  border: 2px solid #c0bedd;
  box-shadow: 0 0 5px #c0bedd;
}

#signup-button {
  background-color: #444e57; 
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 16px;
  transition: 0.2s;
  width: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

#signup-button:hover {
  cursor: pointer;
  background-color: #5c6a75;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

#signup-button:active {
  background-color: #333b42; 
  transform: translateY(1px);
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}