.stars-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.star {
  cursor: pointer;
  margin-right: 5px;
  transition: color 0.5s;
  color: whitesmoke;
}

.star.filled {
  color: gold
}

