body {
  /* background-color: #01000E; */
  background-color: #0E1826;
  /* background-color: #1B3C59; */
  /* background-color: #B8CCD9; */
  /* background-color: #F0F1F2; */
  /* background-color: #F2D0A7; */
  /* background-color: #001F3F; */
  color: #F0F1F2;
  font-family: 'Alike', serif;
  /* margin: 10px 45px; */
  /* max-width: 95%; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding-top: 80px;
  /* overflow-x: hidden;  */
}