.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-icon {
  color: white;
  font-size: 35px;
  margin: 0 15px;
  padding: 10px;
  transition: 0.1s;
}

.nav-icon:hover {
  cursor: pointer;
  color: #c0bedd;
}

#home-link {
  position: relative;
  top: 10px;
}

#home-logo {
  width: 225px;
}

.logout-icon {
  all: unset;
  color: white;
  margin: 0 15px;
  font-size: 30px;
  transition: 0.1s;
}

.logout-icon:hover {
  cursor: pointer;
  color: #c0bedd;
}

.profile-icon {
  all: unset;
  color: white;
  font-size: 35px;
  transition: 0.1s;
  position: fixed;
  top: 35px;
  right: 45px;
}

.profile-icon:hover {
  cursor: pointer;
  color: #c0bedd;
}

.profile-dropdown {
  position: absolute;
  top: 75px;
  right: 25px;
  background-color: rgb(1, 0, 14);
  border: 1px ridge #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 2px #c0bedd;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-dropdown li {
  padding: 8px 12px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: 0.1s;
  text-align: center;
}

.profile-dropdown li:hover {
  cursor: pointer;
  color: #c0bedd;
}

.hidden {
  display: none;
}