#login-page {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(1, 0, 14);

}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1), 0 4px 20px rgba(255, 255, 255, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  color: rgb(225, 225, 225);
  background-color: rgb(1, 0, 14);
}

#login-title {
  color: rgb(225, 225, 225);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
}

.label {
  display: block;
}

.input {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 2px;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
}

input::placeholder {
  font-style: italic;
  color: gray;
}

.input:focus {
  outline: none;
  border: 2px solid #c0bedd;
  box-shadow: 0 0 5px #c0bedd;
}

.button {
  background-color: #6b5ca8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  display: block;
  margin: 0 auto;
}

.button:hover {
  background-color: #8e7cc3;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.button:active {
  background-color: #5a4a91;
  transform: translateY(2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


